<H1> Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages that Data Scientists use.
- List commonly used libraries used by Data Scientists.
- Comment on Data Science tools.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. SciPy
4. SciKit-Learn
5. Tensorflow
6. Keras

| Data Science Tools |
| :-------------------: |
| Apache Spark |
| Jupyter Notebook |
| Keras |
| IBM SPSS |

<H3> Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# Arithmetic operations
code = compile("6 + 7", "<string>", "eval")
eval(code)
# Result: 13

13

In [2]:
code1 = compile("(5 - 3) * 4", "<string>", "eval")
eval(code1)
# Result: 8

8

In [3]:
code1 = compile("(2 * 8) / 3", "<string>", "eval")
eval(code1)
# Result: 5.333333

5.333333333333333

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5
# Result: 17

17

This will convert 200 minutes to hours by diving by 60

In [5]:
days = 0
hours = 0
mins = 0
time = 200

days = time // 1440
hours = (time-(days*1440))//60
mins = (time - (days*1440) -(hours*60))
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")
# Result: 0 days, 3 hours, 20 mins

0 days, 3 hours, 20 mins.

<H2>Author:

Igor Coelho